html, body {
background-image:url(../images/bg_solid.jpg);
background-repeat:repeat;
height:100%;
margin:0;
padding:0;
}

#body{
padding-bottom:100px;

}

#wrapper{
position:relative;
width:100%;
min-height:100%;
background-color:#FFFFFF;
}

#header{
background-color:#FFFFFF;
height:100px;
padding:0px;
width:100%;
}

#inner_wrapper{
width:1024px;
margin: 0 auto;
border-left:20px;
border-right:20px;
background-color:#FFFFFF;
}

#logo{
display:inline-block;
width:250px;
height:100px;
font-family:Arial, Helvetica, sans-serif;
color:#333333;
}

#navbar{
display:inline-block;
}

#navbar ul{
display:inline-block;
margin:0;
font:Arial, Helvetica, sans-serif;
}

#navbar ul li{
list-style:none;
margin:0;
float:left;
}

#navbar ul li a{
width:125
padding:0;
margin:0;
border-right: 1px solid #efeeed;
text-decoration:none;
text-align:center;
line-height:75px;
display:block;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
}

#navbar a:link{
color:#666666;
}
#navbar a:visited{
color:#666666;
}
#navbar a:hover{
color:#999999;
background-color:#efeeed;
}

#content_wrapper{
background-color:#ffffff;
height:100%;

}

#gallery{
border-radius:5px;
}

#gallery img{
max-width:100%;
height:auto;
}

.content_box{
display:inline-block;
line-height:1;
padding:10px;
margin:10px 5px 10px 10px;
font-family:Arial, Helvetica, sans-serif;
}

.content_box img{
width:100%;
}

.content_title{
background-color:#999999;
color:#FFFFFF;
padding:3px;
}

.content_box p{
font-size:14px;
}

#recipe_day{
display:inline-block;
vertical-align:top;
width:30%;
height:auto;
}

#content_main{
display:inline-block;
vertical-align:top;
width:60%;
height:auto;
}

.content_cat{
display:inline-block;
vertical-align:top;
width:29%;
height:auto;
line-height:1;
padding:10px;
margin:10px 5px 10px 10px;
font-family:Arial, Helvetica, sans-serif;
}

.content_cat img{
width:100%;
}

#form{
padding:40px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

#footer{
bottom:0px;
background-color:#666666;
width:1024px;
height:100px;
margin: 0 auto;
}
